<div class="container-fluid">
    <div class="row back" (click)="back()">
        <div class="row">
            <p><i class="fa fa-long-arrow-left Arr" aria-hidden="true"></i>Back</p>
        </div>
    </div>
    <div class="row">
        <h6 class="h6-sizing">Add User</h6>
</div>
<div class="card my-card-1">
    <div class="row">
        <input class="file-upload" type="file" onchange="(event.target.files)">
        <img src=""/>
        </div>
        
    <div class="row">
        <div class="col-5 ml-5" style="display: flex; flex-direction: column;">
            <label class="my-label-1 mt-">User Name</label>
            <input class="inp-mine" type="text"/>
        </div>
        <div class="col-5 ml-5" style="display: flex;flex-direction: column;">
        <label class="my-label-1">State</label>
        <select class="inp-mine option-1 "><option>Tamil Nadu</option>
                <option>Kerala</option>
                <option>Pondichery</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-5 ml-5" style="display: flex; flex-direction: column;">
            <label class="my-label-1 mt-">Phone Number</label>
            <input class="inp-mine" type="number"/>
        </div>
        <div class="col-5 ml-5" style="display: flex;flex-direction: column;">
        <label class="my-label-1">City</label>
        <select class="inp-mine option-1 "><option>Coimbatore</option>
                <option>Chennai</option>
                <option>Pollachi</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-5 ml-5" style="display: flex; flex-direction: column;">
            <label class="my-label-1 mt-4">Email Id</label>
            <input class="inp-mine" type="email"/>
        </div>
        <div class="col-5 ml-5" style="display: flex; flex-direction: column;">
            <label class="my-label-1 mt-4">Address</label>
            <input class="inp-mine" type="number"/>
        </div>
    </div>
    <div class="row">
        <div class="col-5 ml-5" style="display: flex;flex-direction: column;">
            <label class="my-label-1">Country</label>
            <select class="inp-mine option-1 "><option>India</option>
                    <option>Europe</option>
                    <option>Australia</option>
                </select>
            </div>
        <div class="col-5 ml-5" style="display: flex; flex-direction: column;">
            <label class="my-label-1 mt-4">PinCode</label>
            <input class="inp-mine" type="number"/>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-4 ml-5">
           <button class="btn-1 ml-5">Cancel</button>
        </div>
        <div class="col-4 ml-3"><button class="btn-2 mr-2">Add Product</button></div>
    </div>
</div>

</div>