<div class="container-fluid">
    <div class="row">
        <h6 class="title ml-4 mb-4">Profile</h6>
    </div>
    <div class="card">
        <div class="row mt-5">
            <div class="col-1 ml-5">
                <img src="../../../assets/boy.png" height="70" width="70"/>
            </div>
            <div class="col-3">
                <h6 class="text-title">Ram Kumar</h6>
                <p class="sub-title mt-3">+91 8793456534</p>
                <p class="sub-title">christopherrocky@gmail.com</p>
            </div>
            <div class="col- ml-auto">
                <h6 class="h6-line">Edit</h6>
            </div>
        </div>
        <div class="row text">
            <div class="col-4">
            <p class="location-text">Location</p>
            <p class="sub-title-1"><span><i class="fa fa-map-marker" aria-hidden="true"></i>
            </span>Coimbatore</p>
        </div>
        </div>
        <div class="col-3 mb-5">
            <button class="my-btn mb-5">Change Password</button></div>
    </div>
</div>

