*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.my-btn{
    color: White;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(to right,#276CD4,#77B3F0);
    border: none;
    border-radius: 35px;
    margin-left: 123px;
    padding: 6px;
    width: 170px;
    margin-top: -10px;
   
}
.card{
    border: none;
}
i{
    color: #0C68B4;
    font-size: 20px;
    margin-right: 7px;
}
.h6-line{
    text-decoration: underline;
    font-size: 14px;
    color: #84A6F1;
    margin-right: 70px;
 
}
.sub-title{
    font-size: 12px;
    color: gray;
    font-weight: 500;
}
.sub-title-1{
    font-size: 14px;
    color: gray;
    font-weight: 600;
}
.title{
font-size: 22px;
font-weight: 600;
}
.location-text{
    font-size: 13px;
    font-weight: 600;
}
.text{
    margin: 20px 0px 30px 129px;  
}