<div class="container-fluid">
    <div class="row back" (click)="back()">
            <p><i class="fa fa-long-arrow-left Arr" aria-hidden="true"></i>Back</p>
    </div>
    <div class="row text-div">
        <h6>Product Details</h6>
    </div>
    <div class="card my-bg-border">
        <div class="row text-div ml-5">
            <div class="col-11">
            <p class="p-tag">Added on:21/04/2021</p>
        </div>
        <div class="col-1">
            <p class="line">Edit</p>
        </div>
        </div>
<div class="row picture-div">
    <div class="col-1">
        <img class="ml-5" src="../../../assets/iams.jpg" height="80px" width="60"/>
    </div>
    <div class="col-6 ml-5 my-p">
        <p class="p-bold">Product Name<span>:Rocky</span></p>
        <p> Product Id<span>:#008645</span></p>
        <p>Category<span>:Dry Pellets</span></p>
        <p>Quantity<span>:3Kg</span></p>
        <p>Threshold value<span>:10</span></p>
    </div>
    <div class="col-2 ml-auto">
        <h6 class="p-weight">&#8377;1,600</h6>
        <p class="p-mined">Stock Available  :  07</p>
        <button class="my-btn" (click)="addStock()">Add Stock</button>
    </div>
</div>
    <div class="row">
        <h6 class="ml-4 h6-desc">Description</h6>
        <div class="description" routerLink="/admin/posts">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minima optio eligendi tempore maiores reiciendis, ea, vitae doloribus soluta, totam labore tempora voluptatibus et hic dicta architecto ad ut itaque?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat unde sint magni cumque nam voluptatem aspernatur quia enim, hic totam dolore? Fuga maiores, delectus facilis exercitationem nostrum natus omnis eligendi.</p>            
        </div>
        </div>



    </div>
</div>