<div class="container-fluid">
    <div class="row ml-5 mt-2 mb-3">
        <h6>Users</h6>
    </div>
    <div class="row ml-4">
    <div class=" post-1 allign-div col-3">
        <p>Total Users</p>
        <h4>124</h4>
        <i class="fa fa-paw paw" aria-hidden="true"></i>
      </div>
    </div>
        <div class="row ml-2">
            <div class="col-7">
              <input type="text" placeholder="Search"/><span><i class="fa fa-search srch" aria-hidden="true"></i></span>
            </div>
            <div class="col-2"></div>
            <div>
                <select class="user-select ml-5 mt-4"> 
                    <option>Coimbatore,India</option>
                    <option>Chennai,India</option>
                    <option>Kerala,India</option>
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <select>
                <option>User Name</option>
                <option>User Names</option>
              </select>
            </div>
            <div class="col-3">
              <select>
                <option>Phone Number</option>
                <option>Select Categories</option>
              </select>
            </div>
            <div class="col-6">
              <button class="btn edited-btn ml-auto" (click)="addUser()">Add a new</button>
            </div>
          </div>
          <div class="card my-card">
            <div class="row">
              <div class="card b-card" (click)="userDetails()">
                  <div>
                  <img src="../../../assets/man.png" height="60" width="60" class="m-3"/>
                  <p class="span-dot">...</p>
                </div>
                  <h6 class="text ml-4">Saranya Sai</h6>
                  <p class="sub-title-1 ml-4 mb-2"><span><i class="fa fa-map-marker map" aria-hidden="true"></i>
                  </span>Coimbatore,India</p>
                </div>
                <div class="card b-card">
                  <div>
                  <img src="../../../assets/user (1).png" height="60" width="60" class="m-3"/>
                  <p class="span-dot">...</p>
                </div>
                  <h6 class="text ml-4">Rajesh Kumar</h6>
                  <p class="sub-title-1 ml-4 mb-2"><span><i class="fa fa-map-marker map" aria-hidden="true"></i>
                  </span>Coimbatore,India</p>
                </div>
                <div class="card b-card">
                  <div>
                  <img src="../../../assets/user.png" height="60" width="60" class="m-3"/>
                  <p class="span-dot">...</p>
                </div>
                  <h6 class="text ml-4">Shankar Raj</h6>
                  <p class="sub-title-1 ml-4 mb-2"><span><i class="fa fa-map-marker map" aria-hidden="true"></i>
                  </span>Coimbatore,India</p>
                </div>
                <div class="card b-card">
                  <div>
                  <img src="../../../assets/boy.png" height="60" width="60" class="m-3"/>
                  <p class="span-dot">...</p>
                </div>
                  <h6 class="text ml-4">Christina</h6>
                  <p class="sub-title-1 ml-4 mb-2"><span><i class="fa fa-map-marker map" aria-hidden="true"></i>
                  </span>Coimbatore,India</p>
                </div>
              </div>
              <div class="row">
                <div class="card b-card">
                    <div>
                    <img src="../../../assets/user (1).png" height="60" width="60" class="m-3"/>
                    <p class="span-dot">...</p>
                  </div>
                    <h6 class="text ml-4">Allina Thomas</h6>
                    <p class="sub-title-1 ml-4 mb-2"><span><i class="fa fa-map-marker map" aria-hidden="true"></i>
                    </span>Coimbatore,India</p>
                  </div>
                  <div class="card b-card">
                    <div>
                    <img src="../../../assets/user.png" height="60" width="60" class="m-3"/>
                    <p class="span-dot">...</p>
                  </div>
                    <h6 class="text ml-4"> Archana</h6>
                    <p class="sub-title-1 ml-4 mb-2"><span><i class="fa fa-map-marker map" aria-hidden="true"></i>
                    </span>Coimbatore,India</p>
                  </div>
                  <div class="card b-card">
                    <div>
                    <img src="../../../assets/boy.png" height="60" width="60" class="m-3"/>
                    <p class="span-dot">...</p>
                  </div>
                    <h6 class="text ml-4"> Jhon David</h6>
                    <p class="sub-title-1 ml-4 mb-2"><span><i class="fa fa-map-marker map" aria-hidden="true"></i>
                    </span>Delhi,India</p>
                  </div>
                  <div class="card b-card">
                    <div>
                    <img src="../../../assets/man.png" height="60" width="60" class="m-3"/>
                    <p class="span-dot">...</p>
                  </div>
                    <h6 class="text ml-4">Krishnamoorthy</h6>
                    <p class="sub-title-1 ml-4 mb-2"><span><i class="fa fa-map-marker map" aria-hidden="true"></i>
                    </span>Bangalore,India</p>
                  </div>
                </div>
          </div>
</div>