<div class="container-fluid">
    <div class="row back" (click)="back()">
        <i class="fa fa-long-arrow-left Arr" aria-hidden="true"></i><h5>Back</h5>
        
    </div>
    <div class="card">
    <div class="row" >
            <div class="card-body">
              <p class="p-tag">Order id:#00987</p>
              <p class="p-tagg">Ordered on:21/04/2021<p>
              </div> 
    </div>
    <div class="row">
        <p class="p-tag col-lg-7" routerLink="/admin/about">Status : <span class="my-span">PENDING</span></p>
        <button class="my-btn col-lg-2">Approve</button>
        <button class="my-btn2 col-lg-2">Reject</button>
    </div>
    <div class="row d-flex"> 
        
        <img src="../../../assets/profilelogo.jpg" class="img-fluid img-mod" />
    <!-- </div> -->
        <!-- <div class="row d-flex" style="display: flex; flex-direction: column;"> -->
            <div class="col-md-4">
                <p class="p-name">Karthick Raja</p>
                
                <h6 class="mt-2">+91 8786356767</h6>
            </div>
    </div>
    <div class="row">
        <p class="p-bold">Delivery Location :</p><span class="p-span">236/45,LMS Street,PN Palayam,Coimbatore,<br/>Tamil Nadu,India-643066</span>

    </div>
    <div class="row">
        <table>
            <thead>
                <tr class="tr-1">
                    <th></th>
                    <th >Product Name</th>
                    <th >Product id</th>
                    <th >Category</th> 
                    <th >Units</th>
                    <th >Qty</th>
                    <th >Price</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-2">
                    <td col="ig-td"><img src="../../../assets/pedefood.jpg" class="img-fluid img-dog"/></td>
                    <td class="txt">Pedigree Adult Dry Dog Food</td>
                    <td>#09897</td>
                    <td>Dry,Pellets</td>
                    <td>3Kg</td>
                    <td>1</td>
                    <td>$475</td>
                </tr>
                <tr class="tr-2">
                    <td col="ig-td"><img src="../../../assets/gty.jpg" class="img-fluid img-dog"/></td>
                    <td class="txt">Gravity Pet Waterer</td>
                    <td>#00985</td>
                    <td>Accesories</td>
                    <td>1</td>
                    <td>1</td>
                    <td>$2000</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

</div>



