<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <tr class="tr-1 ml-3">
                        <th>
                            <input type="checkbox"/>
                        </th>
                        <th>Date</th> 
                        <th >Order id</th>
                        <th >No.of items</th>
                        <th >Price</th> 
                        <th >User</th>
                        <th >Location</th>
                        <th >Status</th>
                        <th >Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-2">
                        <td>
                            <input type="checkbox"/>
                        </td>
                        <td>23/04/2021</td>
                        <td>#00987</td>
                        <td>03</td>
                        <td>229</td>
                        <td>karthick Raja</td>
                        <td>Coimbatore,India</td>
                        <td><button class="my-btn">Approve</button></td>
                        <td>...</td>
                    </tr>
                    <tr class="tr-2">
                        <td class="f-size">
                            <input type="checkbox"/>
                        </td>
                        <td>23/04/2021</td>
                        <td>#00567</td>
                        <td>02</td>
                        <td>399</td>
                        <td>Vicky</td>
                        <td>Coimbatore,India</td>
                        <td><button class="my-btn">Approve</button></td>
                        <td>...</td>
                    </tr>
                    <tr class="tr-2" style="font-weight: 100 !important;">
                        <td>
                            <input type="checkbox"/>
                        </td>
                        <td>23/04/2021</td>
                        <td>#00234</td>
                        <td>05</td>
                        <td>158</td>
                        <td>Ranjith Kumar</td>
                        <td>Coimbatore,India</td>
                        <td class="text-danger">Rejected</td>
                        <td>...</td>
                    </tr>
                    <tr class="tr-2">
                        <td>
                            <input type="checkbox"/>
                        </td>
                        <td>23/04/2021</td>
                        <td>#00871</td>
                        <td>01</td>
                        <td>2000</td>
                        <td>Saranya Devi</td>
                        <td>Coimbatore,India</td>
                        <td class="text-warning">Inprogress</td>
                        <td>...</td>
                    </tr>
                    <tr class="tr-2">
                        <td>
                            <input type="checkbox"/>
                        </td>
                        <td>23/04/2021</td>
                        <td>#06754</td>
                        <td>01</td>
                        <td>1999</td>
                        <td>Ramya Vargesh</td>
                        <td>Coimbatore,India</td>
                        <td class="text-success">Deliverd</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
