<div class="container-fluid">
        <div class="row back" (click)="back()">
            <i class="fa fa-long-arrow-left Arr" aria-hidden="true"></i><span class="title-span">Back</span>   
    </div>
    <div class="row">
        <div class="col-1">
            <img src="../../../assets/profilelogo.jpg" height="50" width="70"/>
        </div>
        <div class="col-4 mt-1">
            <h6>Saranya Sai</h6>
            <p class="p-title">Coimbatore,India</p>
        </div>
    </div>
    <div class="card">
        <div class="row m-5" >  
            <div class="col-1"> 
            <img class="mt-2" src="../../../assets/profilelogo.jpg" height="40" width="60"/>
        </div>
        <div class="col-6 text-bg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi 
                </p>
            </div>
        </div>
        <div class="row empty-bg">
            <p>1 min</p> 
        </div>
        <div class="row">
            <div class="col-3 ml-auto mr-4 text-bg-1">
                <p> ipsum dolor sit, amet elit. Animi asdas 
                    </p>
                </div>  
            </div>
            <div class="row empty-bg-1">
                    <p>1 min</p>    
                
                </div>
                <div class="row m-5" >  
                    <div class="col-1"> 
                    <img class="mt-2" src="../../../assets/profilelogo.jpg" height="40" width="60"/>
                </div>
                <div class="col-4 text-bg">
                    <p>Lorem  dolor sit, amet  adipisicing elit. Animi 
                        </p>
                    </div>
                </div>
                <div class="row empty-bg-3">
                    <p>1 min</p> 
                </div>
                <div class="row">
                    <div class="col-5 ml-auto mr-4 text-bg-1">
                        <p>Constructor amet  adipisicing elit ipsum dolor sit, amet elit. Animi 
                            </p>
                        </div>  
                    </div>
                    <div class="row empty-bg-4">
                            <p>1 min</p>    
                        </div>
                        <div class="row">
                            <div class="col-8">
                            <input type="text" placeholder="Type here....">
                        </div>
                        <!-- <div class="col-3"></div> -->
                        <div class="mt-4 ml-auto arr-bg">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
    </div>
</div>