<div class="container fluid">
    <div class="row back" (click)="back()">
        <i class="fa fa-long-arrow-left Arr" aria-hidden="true"></i><span>Back</span>
    </div>
    <div class="row pl-4 ml-1 py-3">
        <h6>Ad Details</h6>
    </div>
    <div class="card">
        <div class="row header-div">
            <div class="col-3 ml-3 mt-4">
                <p class="p-tag ml-5">Added on:21/04/2021</p>
            </div>
            <div class="col-4">

            </div>
            <div class="col- mt-4 ml-auto">
                <h6 class="h6-line">Edit</h6>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-6 ">
            <img src="../../../assets/adoption.jpg" class="img-content ml-5" height="120" width="250"/>
        </div>
        <div class="my-title col-1">
            <p class="para"> Ad Title</p>
            <p>Ad id</p>
            
            <p>position</p>
            <p>Pages </p>
            <p>Timer</p>
            <p>Link</p>
        </div>
        <div class="col-4 my-title-2">
            <p class="para">:Siberian Husky Puppies For Sale</p>
            <p>:#008645</p>
            <p>:Bottom</p>
            <p>:Login,Registration,Settings</p>
            <p>:1 min</p>
            <p class="my-p">:https://www.I2sanpiero.com/2020/01/cute-seberian-<br/>husky-puppies-for-sale-in.html</p>
        </div>
        </div>
        <div class="row">
            <h6 class="pl-5 h6-desc">Description</h6>
            <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minima optio eligendi tempore maiores reiciendis, ea, vitae doloribus soluta, totam labore tempora voluptatibus et hic dicta architecto ad ut itaque?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat unde sint magni cumque nam voluptatem aspernatur quia enim, hic totam dolore? Fuga maiores, delectus facilis exercitationem nostrum natus omnis eligendi.</p>            
            </div>
            </div>
    </div>
</div>