<div class="container-fluid">
    <div class="row">
        <h6>Chat</h6>
    </div>
    <div class="row">
        <div class="col-10 mb-3">
            <input type="text" placeholder="Search"/><span><i class="fa fa-search srch" aria-hidden="true"></i></span>
          </div>
          <div></div>
          <div class="mt-4"><select>
            <option>Coimbatore,India</option>
            <option>Salem India</option>
            <option>Chennai,India</option>
          </select></div>
    </div>
    <div class="card">
        <div class="row">
            <div class="my-bg-1 point">
                <div class="row" (click)="pChat()" >
                <div class="col- mt-3 ml-3">
                    <img src="../../../assets/boy.png" height="50" width="50"/>
                </div>
           <div class="col-11">
                <h6 class="p-2 ml-1 mt-2">Saranya Sai<span class="mins">2mins ago</span></h6>
            
                <p class="p-tag text ml-1 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eligendi ipsam nulla aspernatur. Quod, doloremque nam! Ea sunt necessitatibus commodi odio tempora labore in, cumque veritatis, hic dolore quaerat adipisci!</p>
            </div>
            </div>
        </div>
        </div>
     
        <div class="row">
            <div class="my-bg-1">
                <div class="row">
                <div class="col- mt-3 ml-3">
                    <img src="../../../assets/boy.png" height="50" width="50"/>
                </div>
           <div class="col-11">
                <h6 class="p-2 ml-1 mt-2">Rajesh Kumar<span class="mins">1 hrs ago</span></h6>
            
                <p class="p-tag ml-1 mb-3">Lorem cupiditate corrupti rerum laudantium mollitia dicta. Error.</p>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="my-bg-1">
                <div class="row">
                <div class="col- mt-3 ml-3">
                    <img src="../../../assets/boy.png" height="50" width="50"/>
                </div>
           <div class="col-11">
                <h6 class="p-2 ml-1 mt-2">Shankar Raj<span class="mins">3 hrs ago</span></h6>
            
                <p class="p-tag ml-1 mb-3">Lorem cupiditate corrupti rerum aut nobis repudiandae, laudantium mollitia dicta. Error.</p>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="my-bg-1">
                <div class="row">
                <div class="col- mt-3 ml-3">
                    <img src="../../../assets/boy.png" height="50" width="50"/>
                </div>
           <div class="col-11">
                <h6 class="p-2 ml-1 mt-2">Christina<span class="mins">5 hrs ago</span></h6>
            
                <p class="p-tag ml-1 mb-3">......</p>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
       
            <div class="my-bg-1">
                <div class="row">
                <div class="col- mt-3 ml-3">
                    <img src="../../../assets/boy.png" height="50" width="50"/>
                </div>
           <div class="col-11">
                <h6 class="p-2 ml-1 mt-2">Archana<span class="mins">22/05/21</span></h6>
            
                <p class="p-tag ml-1 mb-3">Rs 5,000</p>
            </div>
            </div>
        </div>
        </div>
        <div class="row my-backg">
       
            <div class="my-bg-1">
                <div class="row">
                <div class="col- mt-3 ml-3">
                    <img src="../../../assets/boy.png" height="50" width="50"/>
                </div>
           <div class="col-11">
                <h6 class="p-2 ml-1 mt-2">John Doe<span class="mins">22/05/21</span></h6>
            
                <p class="p-tag ml-1 mb-3">Lorem aut nobis repudiandae, laudantium mollitia dicta. Error.</p>
            </div>
            </div>
        </div>
        </div>    
    </div>
</div>