/**New**/

*{
  margin: 0;padding: 0;box-sizing: border-box;
}
.date-inp{
  padding: -10px;
  border: none;
  margin-bottom:20px ;
}
.bg-div{
  background-image: url(../../../assets/dashboard_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 100%;
  color: white;
  h6{
      margin: 40px;
  }
  p{
      margin:0px 10px 30px 40px;
      font-weight: 300;
    }
}
@media only screen and (min-width:450px){
  .bg-div{
    background-image: url(../../../assets/dashboard_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 100%;
    color: white;
    h6{
        margin: 40px;
    }
    p{
        margin:0px 10px 30px 40px;
        font-weight: 300;
      }
  }
}

.my-row{
  background-color: white;
}
.final-div{
  border: none;
  h4,h6{
    margin: 5px;
  }
  img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: -3px;
  }
  .card{
    background-color: #F4FDF6; 
    margin-top: 40px;
    margin: 20px;
        button{
          background-image: linear-gradient(to right,#9E32D8,#C766EA);
          border: none;
          letter-spacing: 1px;
          border-radius: 5px;
          width: 80px;
          padding: 1px;
          margin-left: 20px;
      }
  }
}

/**Color-Div**/
i{
  position: absolute;
  top: 25px;
  bottom: 15px;
  right: 18px;
  font-size: 40px;
  transform: rotate(-40deg);
  opacity: 0.5;
  color: white;
}
.post-1 {
  background: linear-gradient(to right, #F4935C, #F3CD98);
  border-radius: 4px;
  // box-shadow: 2px 1px 20px grey;
  color: white;
  width: 190px;
  height: 85px;
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  h4{
    color: white;
    position: absolute;
    left: 25px;
    top: 40px;
  }
  p{
    color: white;
    position: absolute;
    left: 25px;
    top: 15px;
  }

}
.post-2 {
  background: linear-gradient(to right, #F5567C, #FAA4AC);
  //  margin-left: 800px;
  border-radius: 4px;
  // box-shadow: 2px 1px 20px grey;
  color: white;
  width: 190px;
  height: 85px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 20px;
  position: relative;
  h4{
    color: white;
    position: absolute;
    left: 25px;
    top: 40px;
  }
  p{
    color: white;
    position: absolute;
    left: 25px;
    top: 15px;
  }

}
.post-3 {
  background: linear-gradient(to right, #835AF7, #9D9BF7);
  //  margin-left: 800px;
  border-radius: 4px;
  // box-shadow: 2px 1px 20px grey;
  color: white;
  width: 190px;
  height: 85px;
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  h4{
    color: white;
    position: absolute;
    left: 25px;
    top: 40px;
  }
  p{
    color: white;
    position: absolute;
    left: 25px;
    top: 15px;
  }

}
.post-4 {
  background: linear-gradient(to right, #EEC655, #F0D880);
  border-radius: 4px;
  // box-shadow: 2px 1px 20px grey;
  color: white;
  width: 190px;
  height: 85px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  position: relative;
  h4{
    color: white;
    position: absolute;
    left: 25px;
    top: 40px;
  }
  p{
    color: white;
    position: absolute;
    left: 25px;
    top: 15px;
  }
}

/**Final-Card**/

.h6-all{
  position: absolute;
  right:30px;
  top:30px;
 }
 .h6-all-1{
    position: absolute;
    right: 30px;
    bottom: 70px;
 }
.h4-all{
  position: absolute;
  right: 27px;
  top: 48px;
}
.h4-all-1{
  position: absolute;
  right: 27px;
  bottom: 40px;
}
.bg-2{
  background-color: #EEEBEE;
  margin: 20px 10px 10px 20px;
  border: none;
  width: 90%;
}
.allign-div{
  background-color: #F4FDF6;
  height: 80px;
  box-shadow: 1px 0px 1px gray;
  width: 140px;
  margin: 20px 0px;
  border-radius: 15px;
}
.hr-tag{
  color: red;
}
.pawss{
  color: grey;
  position: absolute;
  top: 82px;
  left: -30px;
  font-size: 35px;
  transform: rotate(+39deg);
  opacity: 0.1;
}
.pawss-1{
  color: grey;
  position: relative;
  bottom:-10px;
  left:10px;
  font-size: 35px;
  transform: rotate(+39deg);
  opacity: 0.1;
}
.gap{
  margin:10px 0px 10px 13px;
}

.card-div-2{
  height: 190px !important;
}
.card-div{
  background-color: #F4FDF6; 
  margin: 20px 0px 10px 22px;
  height: 200px;
  width: 250px;
      button{
        background-image: linear-gradient(to right,#9E32D8,#C766EA);
        border: none;
        letter-spacing: 1px;
        border-radius: 5px;
        width: 90px;
        height: 23px;
        margin-left: 20px;
        color: white;
        font-size: 14px;
        font-weight: 600;
    }
}