<div class="container-fluid">
    <div class="row">
        <h6>Feedback</h6>
    </div>
    <div class="row">
        <div>
            <input type="text" placeholder="Search"/><span><i class="fa fa-search srch" aria-hidden="true"></i></span>
          </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="my-bg">
                <h6 class="p-2 ml-4 mt-2">Saranya Sai<span class="mins">2mins ago</span></h6>
                <td class="p-tag text ml-4 mb-3">Lorem ipsum dolor sit amet delectus magnam perspiciatis numquam alias ex illo ea deserunt natus asperiores cupiditate corrupti rerum aut nobis repudiandae, laudantium mollitia dicta. Error.</td>
            </div>
        </div>
        <div class="row">
            <div class="my-bg-1">
                <h6 class="p-2 ml-4 mt-2">Rajesh Kumar<span class="mins">2mins ago</span></h6>
                <p class="p-tag ml-4 mb-3">Lorem cupiditate laudantium mollitia dicta. Error.</p>
            </div>
        </div>
        <div class="row">
            <div class="my-bg-1">
                <h6 class="p-2 ml-4 mt-2">Shankar Raj<span class="mins">2mins ago</span></h6>
                <p class="p-tag ml-4 mb-3">Lorem cupiditate corrupti rerum aut nobis repudiandae, laudantium mollitia dicta. Error.</p>
            </div>
        </div>
        <div class="row">
            <div class="my-bg-1">
                <h6 class="p-2 ml-4 mt-2">Christina<span class="mins">2mins ago</span></h6>
                <p class="p-tag-1 mb-3">......</p>
            </div>
        </div>
        <div class="row">
            <div class="my-bg-1">
                <h6 class="p-2 ml-4 mt-2">Archana<span class="mins">2mins ago</span></h6>
                <p class="p-tag ml-4 mb-3">Rs 5,000</p>
            </div>
        </div>
        <div class="row my-backg">
            <div class="my-bg-1 ">
                <h6 class="p-2 ml-4 mt-2">John Doe<span class="mins">2mins ago</span></h6>
                <p class="p-tag ml-5 mb-3">Lorem aut nobis repudiandae, laudantium mollitia dicta. Error.</p>
            </div>
        </div>
        
    </div>
</div>